/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Adicionar imagem de plano de fundo ao body */
body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxhx6caHr5fZi1lWhz7RC4kym4C1M3VbMkPg&s');
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem na tela */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
    font-family: Arial, sans-serif;
    color: #ffffff;
    line-height: 1.6;
}

/* Estilo para o menu */
nav ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
}

/* Estilo dos itens do menu */
nav ul li {
    display: inline;
    padding: 10px 20px;
}

/* Estilo dos links do menu */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: rgba(87, 87, 87, 0.7);
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
